h1 {
	background-color: #00b300;
	margin:0 0 1rem 0;
	padding: 10px 0 20px 10px;
	border-top:solid;
	border-bottom: solid;
	line-height: 2;
	
}
table{
	border-collapse: collapse;	
	text-align: centre;
	width: 100%;
	text-indent: 0px;

}
tr{
	border-bottom: solid silver;
	line-height: 50px;
	padding: 10px;
	text-align: center;
}

thead {
	background-color: #00b300;
	padding: 10px;
}
body {
	text-align: left;
	margin:0;
}


.btn {
   -webkit-border-radius: 40px;
   -moz-border-radius: 40px;
   border-radius: 40px;
   height: 50px;
   color: #000000;
   font-family:sans-serif;
   width: 120px;
   font-size: 14px;
   font-weight: 100;
   padding: 0.5rem 2rem 2rem 2rem;
   background-color: #00b300;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin: 10px 10px 10px 10px;
   vertical-align: top;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #80ff80;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
.in-table-btn{
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   line-height: 1rem;
   height: 40px;
   color: #000000;
   font-family:sans-serif;
   width: 120px;
   font-size: 14px;
   font-weight: 100;
   padding: 0.5rem 1rem 0.5rem 1rem;
   margin:10px;
   background-color: #00b300;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   position:relative;
   left:10px;
	}
.in-table-btn:hover{
	border: solid #337FED 1px;
	background: #80ff80;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	text-decoration: none;
}
.form{
	width: 500px;
	position: relative;
	text-align: center;
}
.back-btn{
	-webkit-border-radius: 40px;
   -moz-border-radius: 40px;
   border-radius: 40px;
   height: 20px;
   color: #000000;
   font-family:sans-serif;
   width: 120px;
   font-size: 14px;
   font-weight: 100;
   padding: 1rem 2rem 2rem 2rem;
   background-color: #00b300;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin: 10px 10px 10px 10px;
   vertical-align: top;
}
.back-btn:hover{
	border: solid #337FED 1px;
	background: #80ff80;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	text-decoration: none;
}

.search-form{
	display:inline-block;
	vertical-align:bottom;
	position:relative;
	float:right;
	
}
.search-form input{
	font-size: 1.5rem;
	position:absolute;
	right:10rem;
	bottom:1rem;
}
.search-form button{
-webkit-border-radius: 40px;
   -moz-border-radius: 40px;
   border-radius: 40px;
   height: 50px;
   color: #000000;
   font-family:sans-serif;
   width: 120px;
   font-size: 14px;
   font-weight: 100;
   padding: 1rem 2rem 2rem 2rem;
   background-color: #00b300;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin: 10px 10px 10px 10px;
   vertical-align: top;
}
.search button:hover{
	border: solid #337FED 1px;
	background: #80ff80;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	text-decoration: none;
}
.wrapper{
}

.submit-btn{
	-webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   line-height: 1rem;
   height: 20px;
   color: #000000;
   font-family:sans-serif;
   width: 120px;
   font-size: 14px;
   font-weight: 100;
   padding: 1rem 0px 2rem 0px;
   background-color: #00b300;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   position:absolute;
   right:10px;
   margin-top: 1rem;
	}
	.submit-btn:hover{
	border: solid #337FED 1px;
	background: #80ff80;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	text-decoration: none;
}